.background {
    background-color: #343a40;
    padding: 15px 30px 15px 30px;
    margin-bottom: 30px;
}

#title-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
}

#search-text {
    padding-top: 10px;
    font-size: 20px;
}

.card-background {
    background-color: #f8f9fa;
}

#searchBtn {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

#searchBtn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px rgba(100, 105, 121, 0.8);
}

.cities {
    background-color: white;
    color: grey;
    font-size: 18px;
    border-color: #f8f9fa;
    text-align: left;
    width: 180px;
    height: 50px;
}

#city-text {
    padding-left: 25px;
    margin-bottom: 30px;
}

.box {
    width: 50px;
    height: 100%;
    padding: 5px;
}

.forecast {
    width: 18.5%;
    padding: 12px;
    margin: 5px;
    background-color: rgb(0, 102, 255);
    color: white;
}

.uv1{
    background-color: yellow;
    padding: 1px;
    color: black;
}

.uv2{
    background-color: orange;
    padding: 1px;
    color: black;
}

.uv3{
    background-color: crimson;
    padding: 1px;
    color: white;
}